// Copy this file to config.h and adopt the values for your own use.

// Enter personal, Wifi and Message source configuration below
const char* WIFI_SSID1 = "SSID-1";                         // Name des eigenen WLAN1
const char* WIFI_PASSWORD1 = "PASS-1";                     // Passwort eigenes WLAN1
const char* WIFI_SSID2 = "SSID-2";                         // Name des eigenen WLAN2
const char* WIFI_PASSWORD2 = "PASS-2";                     // Passwort eigenes WLAN2
//more WLAN-Data if applicable with increasing number 
const char* WIFI_SSID3 = "SSID-3";                         // Name des eigenen WLAN3
const char* WIFI_PASSWORD3 = "PASS-3";                     // Passwort eigenes WLAN3
const char* WIFI_SSID4 = "SSID-4";                         // Name des eigenen WLAN4
const char* WIFI_PASSWORD4 = "PASS-4";                     // Passwort eigenes WLAN4
const char* WIFI_SSID5 = "SSID-5";                         // Name des eigenen WLAN4
const char* WIFI_PASSWORD5 = "PASS-5";                     // Passwort eigenes WLAN4

const String URL = "https://newsbox.r04-afu.de/news.json"; // Link zum Server
const char* Rufzeichen = "DL1ABC";                         // eigenes Call
const char* Locator = "XX99ab";                            // eigener Locator

// Hardware configuration, please choose your hardware model

// Display-Typ 
#define DISPLAY_2004
//#define DISPLAY_OLED13
//#define DISPLAY_OLED096
//#define DISPLAY_OLED096_SSD1306

// define PINs for I2C Display connection
#define I2C_SDA 25 // 4 onboard OLED
#define I2C_SCL 26 // 5 onboard OLED

// Buzzer-Typ
#define BUZZER_PASSIVE
//#define BUZZER_ACTIVE
